# [ Plugin ] render_book
RENDER_BOOK_ENABLED: bool
RENDER_BOOK_STORAGE_ROOT: str
RENDER_BOOK_EXECUTOR_MODE: str
RENDER_BOOK_EXECUTOR_URL: str
RENDER_BOOK_EXECUTOR_TIMEOUT_SECONDS: int
RENDER_BOOK_OSS_PATH_PREFIX: str
RENDER_BOOK_OSS_PATH_PREFIX: str
