# [ Plugin ] oss
OSS_ACCESS_KEY=''
OSS_SECRET_KEY=''

# [ Plugin ] qiniu kodo
QINIU_KODO_ACCESS_KEY=''
QINIU_KODO_SECRET_KEY=''
QINIU_KODO_BUCKET=''
QINIU_KODO_DOMAIN=''
QINIU_KODO_USE_HTTPS='true'

# [ Plugin ] storage common
STORAGE_OBJECT_EXPIRE_DAYS='0'
